<html>
  <head>
    <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>

  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    <p>Your Guess: <%= guess %> </p>
    <p>Hint: <%= message %> </p>
    <p><%= "The secret number was: #{number}. Play Again, by guessing another number!" if message == 'You got it right! Game has been Reset!'%></p>
    <p>Guesses Remailing: <%= guesses %> </p>
  </body>
</html>